*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 50%;
    background-color: rebeccapurple;
    display: flex;
}
#bottom{
    width: 100%;
    height: 56%;
    background-color: white;
}
#box{
    width: 45%;
    height: 74%;
   background-image: url(https://images.unsplash.com/photo-1463320898484-cdee8141c787?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
   background-size: cover;
   background-position: 55px;
    left: 55%;
    position: relative;
}
#bottom i{
    position: relative;
    top: 32%;
    left: 46%;
    color: white;
    font-size: 152px;
    opacity: .8;
    
}
#one{
    position: relative;
    width: 25%;
    height: 100%;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1514686435060-fca6efae9594?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDl8NnNNVmpUTFNrZVF8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#line{
    position: relative;
    width: 310px;
    height: 1%;
    background-color: grey;
    border-radius: 20px;
    top: 74%;
    left: 11%;
}
#secondline{
    position: relative;
    width: 20%;
    height: 100%;
    background-color: rgba(175, 174, 174, 0.897);
    left: 90%;
}
#line i{
    color:white;
    
}
#one p{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 100px black ;
    top: 3%;
    left: 9%;
    letter-spacing: 4px;
}
#one i{
    position: relative;
    font-size: 36px;
    top: -4%;
    left: 1%;
}
 #two{
    position: relative;
    width: 50%;
    height: 100%;
    background-color:palevioletred;
 }
 #nav{
     width: 100%;
     height: 10%;
     background-color:palevioletred;
     display: flex;
     justify-content: right;
     margin-right: 25px;
    
    }
    #cir{
        width: 72px;
        height: 72px;
        border: 1px solid white;
        border-radius: 200px;
        position: relative;
        top: 48%;
        left: 6%;
    }
    #two i{
        position: relative;
        top: 37%;
        left: 8%;
        color: white;
        font-size: 34px;
    }
    #two h4{
        top: 41%;
        position: relative;
        left: 6%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        color: white;
        font-size: 29px;
    }
    #two p1{
        top: 41%;
        position: relative;
        left: 6%;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 0px;
        
    }

    
    #nav p{
        position: relative;
        right: 65%;
        top: 20%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 4px;
        color: white;
    }
    #nav i{
        left: 31%;
        top: 10%;
    }
    #nav h3{
        margin-right: 25px;
        margin-top: 8px;
    }
 #nav h3 a{
    letter-spacing: 2px;
     text-decoration: none;
     list-style: none;
     color: white;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     position: relative;
     right: 40%;
   
 }
    
#three{
    position: relative;
    width: 25%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    
} 

#nav2{
    position: relative;
    width: 100%;
    height: 10%;
    
}
#nav2 h2{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: .7;
    font-size: 20px;
    top: 10%;
    left: 10%;
}
#nav2 h3{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: .7;
    left: 88%;

  
}
#three h1{
    position: relative;
    left: 67%;
    top: 48%;
    font-size: 99px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: .8;
}
#three p{
    position: relative;
    top: 47%;
    left: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;

}
#box2{
    width: 55%;
    height: 90%;
    position: relative;
    background-color: rgb(255, 255, 255);
    bottom: 74%;

    
}
#box2 h1{
    top: 28%;
    left: 8%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    opacity: .9;
    font-size: 68px;
}
#box2 p{
    top: 31%;
    position: relative;
    left: 9%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}
#box2 h3{
        position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 47%;
    letter-spacing: 2px;
   opacity: .9;
   letter-spacing: 4px;
   left: 8%;
}
#box2 h4{
    position: relative;
    left: 48%;
    top: 23%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    opacity: .9;
    font-size: 20px;

}
#box2 p1{
    position: relative;
    top: 48%;
    left: 8%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    opacity: .9;
    font-size: 20px;

}
#box2 p2{
    left: 47%;
    top: 25%;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    opacity: .9;
    font-size: 20px;

}
#final{
    position: relative;
    width: 45%;
    height: 26%;
    background-image: url(https://images.unsplash.com/photo-1632622337567-be3d44239805?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    top: -90%;
    left:55% ;
}
#box2 img{
    position: relative;
    left: 89%;
    top: 28%;
    transform: rotate(90deg);
}